.create-page article {
  padding-top: 80px;
  width: 90%;
  margin: 0 auto;
}

.fw { width: 100%; }
.row { margin-bottom: 10px; }

.t { display: table; }
.tr { display: table-row; }
.td { display: table-cell; vertical-align: middle; }

.icon-cell { width: 60px; }

.create-page input {
  background-color: rgba(255,255,255,0.5);
  border: 0px;
  border-radius: 2px;
  font-size: 17px;
  line-height: 28px;
  padding: 5px 10px;
}

.create-page .fa-map-marker {
  color: #641011;
  text-shadow: -1px -1px 0 white,
                1px -1px 0 white,
               -1px  1px 0 white,
                1px  1px 0 white;
}

.create-page .td input { width: 100%; }

::-webkit-input-placeholder {
  color: #555;
}

/* Nav-bar */

.js-back {
  position: absolute;
  left: 7px;
  top: 13px;
  width: 100px;
}

.js-back-button img {
  width: 40px;
}

.capture img {
  width: 320px;
  height: 240px;
  display: none;
}

.js-button-holder i {
  color: green;
  padding: .2em .25em .15em;
}

.ok-button {
  position: absolute;
  top: 120px;
  right: 0px;
}

.ok-button img {
  height: 60px;
}

#map {
  top: -50;
  left: 0;
  width: 361px;
  height: 557px;
}

.address {
  font-size: 10px;
  margin: 0;
  color: white;
}

.distance {
  margin: 10px 0px;
}
