* {
  font-family: Lucida Sans, Arial, Helvetica, sans-serif;
}

html, body, .total-height {
  height: 100%;
}
body {
  margin: 0px auto;
  background: url("../img/Fondo3.png");
}

.toldo {
  position: absolute; 
  top: 0;
  right:0;
  width: 100%;
  margin-bottom: 10px;
  background:url("../img/Toldo_03.png");
  height: 130px;
  background-size: contain;
  padding:0;

}

header h1 {
  margin: 0;
  font-size: 24px;
  text-align: center; 
  height: 90px;
  position: relative;
  top: 25px;
  font-weight: 100;
}

.cartel {
  position:absolute;
  top:0;
  background: url("../img/cartel.png") no-repeat;
  background-position: top center; 
  background-size:65%;
  width: 100%;
}

header h2 {
  font-size: 18px;
  margin: 0px;
  color: #888;
  font-style: italic;
}

nav ul {
  list-style: none;
  padding: 0px;
  display: block;
  clear: right;
  padding-left: 4px;
  height: 100px;
}

nav ul li {
  display: inline-block;
  padding: 22px 10px 5px 10px;
  height: 100px;
  background: url("../img/Pestaña-normal_03.png") no-repeat;
  background-size: contain;
  background-position: top center;
  width: 90px;
}

ul li.active {
  background: url("../img/pestaña-seleccionado_03.png") no-repeat;
  background-size: contain;
  width: 90px;

}

nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  margin: 20px;
}

article > header h1 {
  font-size: 20px;
  margin-left: 14px;
}

article > header h1 a {
  color: #993333;
}

article > header h1 img {
  vertical-align:middle;
}

article > section header h1 {
  font-size: 16px;
}

article p {
  clear: both;
}

footer p {
  text-align: center;
  font-size: 12px;
  color: #888;
  margin-top: 24px;
}

.post:first-child {
  margin-top: 20px;
}

.post {
  position: relative;
  background:url("../img/Ficha-restaurante.png") no-repeat;
  background-size: 100% 100%;
  height: 135px;
  margin: -15px 0;
}

.post h1 {
  font-size: 21px;
  margin: 0;
  padding: 0;
}

.post img {
  position: absolute;
  top: 24px;
  left: 22px;
  border-radius:5px;
  border: 2px solid #ccc;
}

.post .meta {
  position: absolute; 
  top: 35px;
  left: 145px;
  color: white;
}

.post .meta p { color: #c0c0c0; }

.right {
  float: right; 
}

hgroup a {
  color: transparent;
  background: url("../img/mas11.png") no-repeat;
  background-position: top center;
  width: 55px;
  height: 55px;
  position: absolute;
  top: 18px;
  right: 2px;
  background-size: contain;
}

.total-height {
  position: relative;
  top: 0;
  padding-top: 103px;
  box-sizing: border-box;
}
